* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#000000, #1bff89);
}

.container {
    border: solid 1px rgba(51, 210, 205, 0.2);
}

table {
    color: #fff;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(13, 195, 83, 0.4);
}

th {
    padding: 20px 20px ;
    font-weight: 200;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(5, 179, 22, 0.4);
}